@use "@/styles/theme.scss" as theme;

.footer {
    width: 100%;
    padding: 1rem 3rem;
    height: var(--footer-height);
    background-color: theme.color(white);
    color: theme.color(black);

    .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .leftContainer,
    .rightContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    .link {
        font-family: 'GlyphWorld', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 0.1rem solid theme.color(black);
        border-radius: 2rem;
        &:hover {
            background-color: theme.color(black);
            color: theme.color(white);
        }
    }
}

.inverted {
    background-color: theme.color(black);
    color: theme.color(white);

    .link {
        border-color: theme.color(white);
        color: theme.color(white);
        
        &:hover {
            background-color: theme.color(white);
            color: theme.color(black);
        }
    }
}
