@use "@/styles/theme.scss" as theme;

.header {
    width: 100%;
    padding: 1.5rem 2rem;
    height: var(--header-height);
    border-bottom: 1px solid rgba(theme.color(foreground), 0.1);
    background-color: theme.color(white);
    color: theme.color(black);

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    .link {
        font-family: var(--font-geist-sans);
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 0.1rem solid theme.color(black);
        border-radius: 2rem;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 0.7;
        }
    }

    .projectslink {
        @extend .link;
        flex-grow: 2;
        text-align: center;
        overflow: hidden;
    }

    .projectslinktext {
        transform: scaleX(5);
        overflow: hidden;
    }
}

.activeLink {
    background-color: theme.color(black);
    color: theme.color(white);
}

@media (max-width: 768px) {
    .header {
        padding: 1rem;

        .nav {
            gap: 1rem;
        }
    }
}
