@use "@/styles/theme.scss" as theme;

.header {
    width: 100%;
    padding: 1rem 3rem;

    height: var(--header-height);
    background-color: theme.color(white);
    color: theme.color(black);

    .container {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    .link {
        font-family: 'GlyphWorld', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border: 0.1rem solid theme.color(black);
        border-radius: 2rem;
        &:hover {
            background-color: theme.color(black);
            color: theme.color(white);
        }
    }

    .projectslink {
        @extend .link;
        flex-grow: 2;
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projectslinktext {
        white-space: nowrap;
        transform-origin: center;
        display: inline-block;

    }
}

.activeLink {
    background-color: theme.color(black);
    color: theme.color(white);
}

@media (max-width: 768px) {
    .header {
        padding: 1rem;

        .nav {
            gap: 1rem;
        }
    }
}
