@use "@/styles/theme.scss" as theme;

.projectMetaPage {
    height: 100vh;
    overflow: hidden;
    background-color: theme.color(black);
    color: theme.color(white);
}

.container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: theme.color(black);
    overflow: hidden;
}

.threeColumnLayout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    height: 100%;
    font-family: 'GlyphWorld', sans-serif;
    color: theme.color(white);
    overflow: hidden;
}

.leftColumn,
.rightColumn {
    padding: 2rem 1rem;
    
    h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-weight: normal;
    }
    
    p {
        margin-bottom: 0.5rem;
        line-height: 1.6;
    }
}

.centerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    height: 100%;
    
    h1 {
        font-size: 3rem;
        margin-top: 2rem;
        font-weight: normal;
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

.mainImage {
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.title {
    font-family: 'GlyphWorld', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: theme.color(white);
}

.content {
    font-family: 'GlyphWorld', sans-serif;
    line-height: 1.6;
    background-color: theme.color(black);
    width: 100%;
    height: 100%;
}

.loading,
.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'GlyphWorld', sans-serif;
    color: theme.color(white);
}

.backLink {
    margin-top: 2rem;
    color: theme.color(white);
    text-decoration: underline;
    font-family: 'GlyphWorld', sans-serif;
    
    &:hover {
        opacity: 0.7;
    }
}
