@use "@/styles/theme.scss" as theme;

.projectsPage {
    width: 100%;
    flex: 1;
    background-color: theme.color(white);
    display: flex;
    flex-direction: column;
    color: theme.color(black);
}

.content {
    flex: 1;
    padding: 2rem 5rem;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.projectsGrid {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
}

.slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slideContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
    padding: 2rem;
    position: relative;
}

.projectCard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
