@import '@/styles/theme.scss';

.pageContainer {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background-color: color(white);
  color: color(black);
  position: relative;
  overflow: auto;
} 